# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print("Mubarak Odufade")

Mubarak Odufade

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [8]:
# Load data here
df = pd.read_csv("data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [17]:
# 1. How many listings are there with a price less than 100? 
lt100_condition = df['price'] < 100
df_lt100 = df[ lt100_condition ].copy()
print(len(df_lt100))

22778

In [18]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
bk_condition = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[bk_condition].copy()
print(len(df_bk))

18632

In [26]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df_bk_lt100 = df [(df['neighbourhood_group'] == 'Brooklyn') & (df['price'] < 100)]
print(len(df_bk_lt100))

10473

In [29]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
name_cond = df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])
name_df = df[name_cond]
print(len(name_df))
print(name_df.head())

1258
        id                                               name  host_id  \
52   16595  LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...    64522
201  61747              Cozy,  Brooklyn, Prospect Park Studio   299370
209  62903  Beautiful modern studio apartment in heart of NYC   306605
220  64015                       Prime East Village 1 Bedroom   146944
260  74073       Food & Music Dream Apartment in Williamsburg   211877

    host_name neighbourhood_group              neighbourhood  latitude  \
52     Daniel            Brooklyn               Williamsburg  40.70933
201     David            Brooklyn  Prospect-Lefferts Gardens  40.65979
209    Daniel           Manhattan                    Chelsea  40.74238
220     David           Manhattan               East Village  40.72807
260    Daniel            Brooklyn               Williamsburg  40.71113

     longitude        room_type  price  minimum_nights  number_of_reviews  \
52   -73.96792  Entire home/apt    271               1                172
201  -73.96180  Entire home/apt     91              14                 97
209  -73.99567  Entire home/apt    205              15                 68
220  -73.98594  Entire home/apt    200               3                  0
260  -73.96054  Entire home/apt    187              30                 90

    last_review  reviews_per_month  calculated_host_listings_count  \
52   2020-07-14               1.44                               1
201  2018-01-31               0.83                               1
209  2019-12-14               0.67                               2
220         NaN                NaN                               1
260  2020-07-31               0.81                               1

     availability_365
52                365
201                44
209                89
220                 0
260               261

In [37]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df['adjusted_price'] = np.where(df['neighbourhood'] == 'Williamsburg', df['price'] + 100, df['price'])
print(df.head(12))

      id                                               name  host_id  \
0   2595                              Skylit Midtown Castle     2845
1   3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2   5121                                    BlissArtsSpace!     7356
3   5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4   5178                   Large Furnished Room Near B'way　     8967
5   5203                 Cozy Clean Guest Room - Family Apt     7490
6   5238                 Cute & Cozy Lower East Side 1 bdrm     7549
7   5552            Spacious river view in the West Village     8380
8   5803     Lovely Room 1, Garden, Best Area, Legal rental     9744
9   6021  Wonderful Guest Bedroom in Manhattan CENTRAL PARK    11528
10  6090                      West Village Nest - Superhost    11975
11  6848                   Only 2 stops to Manhattan studio    15991

        host_name neighbourhood_group       neighbourhood  latitude  \
0        Jennifer           Manhattan             Midtown  40.75362
1     LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2           Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3         Rebecca            Brooklyn         Sunset Park  40.66120
4        Shunichi           Manhattan      Hell's Kitchen  40.76489
5       MaryEllen           Manhattan     Upper West Side  40.80178
6             Ben           Manhattan           Chinatown  40.71344
7           Maria           Manhattan        West Village  40.73552
8          Laurie            Brooklyn         South Slope  40.66829
9         Claudio           Manhattan     Upper West Side  40.79826
10          Alina           Manhattan        West Village  40.73530
11  Allen & Irina            Brooklyn        Williamsburg  40.70837

    longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -73.98377  Entire home/apt    175               3                 48
1   -73.95976  Entire home/apt     75               1                340
2   -73.95596     Private room     60              29                 50
3   -73.99423  Entire home/apt    175              14                  1
4   -73.98493     Private room     65               2                473
5   -73.96723     Private room     75               2                118
6   -73.99037  Entire home/apt    140               1                161
7   -74.01042  Entire home/apt    160               3                 66
8   -73.98779     Private room     88               4                180
9   -73.96113     Private room     85               2                123
10  -74.00525  Entire home/apt     65              30                 29
11  -73.95352  Entire home/apt    109               2                181

   last_review  reviews_per_month  calculated_host_listings_count  \
0   2019-11-04               0.37                               2
1   2020-08-01               4.75                               1
2   2019-12-02               0.37                               1
3   2014-01-02               0.01                               1
4   2020-03-15               3.44                               1
5   2017-07-21               0.89                               1
6   2019-07-29               1.21                               4
7   2019-08-10               0.49                               1
8   2020-03-18               1.31                               3
9   2019-12-09               0.90                               1
10  2020-07-25               0.22                               1
11  2020-03-16               1.32                               1

    availability_365  adjusted_price
0                365             175
1                265              75
2                365              60
3                295             175
4                340              65
5                  0              75
6                274             140
7                178             160
8                344              88
9                365              85
10               197              65
11                 0             209

In [45]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
# private_pg = df['room_type'].isin(['Private room']).mean() * 100
# private_pg = df['room_type'].str.lower().str.contains('private').mean()

# print(f"The percentage of private rooms is: {(private_pg * 100):.2f}")
# print(f'The percentage of non-private rooms is: {((1 - private_pg) * 100):.2f}')

df.groupby('room_type').mean(normalize=True)

The percentage of private rooms is: 45.44
The percentage of non-private rooms is: 54.56

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [60]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
df_groups = df.groupby('neighbourhood_group')
#df.groupby("neigbourhood_group").size()
for group in df_groups:
    print(len(group[1]))

1183
18632
20580
5791
341

In [64]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
df_groups_mean = df.groupby('neighbourhood_group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# 2.5. Using `groupby`, find the mean price for each room_type.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.